# Ignores virtual environment directory
.venv/

# Ignores environment variables file
.env

# Ignores VSCode specific files
.vscode/

# Google API secrets
credentials.json
token.json

# Miscellaneous
*.db